
@{ 
    Layout = null;
    }

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Somos Velozes</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width. initial-scale=1.0">
    <link rel="stylesheet" href="~/CSS/style.css">
</head>


<body class='caixacontainer'>


    <div class="header">
        <div class="container-logo">
            <img src="I~/img/Icone.png" alt="icon buy">
        </div><!-- Container logo-->

        <div class="menu">

            <a HREF="#">Cadastrar produto</a>
            <a HREF="#">Buscar produto</a>
            <a HREF="#">Promoções</a>

        </div>  <!--Menu-->

    </div>

    <table class='tabela'>
        <tr>
            <td class="td1">
                <h1 class="inputext">Preço unitario</h1>
                <input type="text" class="inputpreco">
                <h1 class="inputext">Quantidade</h1>
                <input type="text" class="inputpreco">
                <h1 class="inputext">Preço total</h1>
                <p><input type="text" class="inputpreco"></p>



                <button class="buttoncaixa">Concluir</button>

            </td>

            <td class="td2">


                <div class="produtos">
                    <h1>Nenhum produto</h1>


                </div>

                <div class="total">
                    <h1>Total: R$90,00</h1>

                </div>
            </td>
        </tr>
    </table>

    <div class="header">


    </div>







</body>




</html>