@using WebApplication_C.Classes


<!DOCTYPE html>
<html lang="en">

<head>
    <title>Somos Velozes</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width. initial-scale=1.0">
    <link rel="stylesheet" href="~/CSS/style.css">
</head>


<body class="container">


    <div class="tela-login">
        <img src="Icone.png" alt="icon buy">
        <h1>Login</h1>
        <form>
            <input id="nomeId" class="campo-email" type="text" placeholder="Digite seu e-mail" required maxlength="16"><br>
            <br><br>
            <input id="senhaId" class="campo_senha" type="password" placeholder="Digite sua senha" required minlength="4"><br>
            <br><br>
            <input class="btn_submit" type="submit" value="Entrar">
            <br>
            <a class="criar-conta" href="~/HTML/Cadastro.cshtml">Crie sua conta.</a>
        </form>


    </div>



</body>




</html>